body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: grey;
    padding-top:5%;
    padding-bottom: 5%;
}

form {
    margin: 20px auto;
    max-width: 90%;
}

input {
    display: block;
    width: calc(100% - 2em);
    margin: 10px auto;
    padding: 1em;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
}

button:hover {
    opacity: 0.8;
}

.form {
    border-style: solid;
    padding: 2%;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto; /* Centers the form horizontally */
}

.graph-placeholder {
  border: 2px dashed #ccc;
  padding: 10%;
  margin: 5% auto;
  text-align: center;
  max-width: 90%;
}

.navigation-buttons {
  margin-top: 20px;
}

.navigation-buttons button {
  margin: 5px;
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;
}

@media (max-width: 600px) {
    body {
        padding: 2%;
    }

    form {
        max-width: 100%;
    }

    .form {
        padding: 5%;
    }

    input {
        width: calc(100% - 2em);
    }

    .graph-placeholder {
        padding: 5%;
    }

    button {
        font-size: 0.9em;
        padding: 0.8em 1.5em;
    }

    
}

/* Change the colors of the chessboard squares */
.square-55d63.white-1e1d7 {
    background-color: #EEEED2; /* Light beige */
  }
  
  .square-55d63.black-3c85d {
    background-color: #769656; /* Saddle brown */
  }

h1 {
    font-family: 'Lora', serif;
    color:white;
    font-weight: bold;
    font-kerning: normal;
}

h2 {
    color:white;
    font-kerning: normal;
    font-size:x-large;
}

.chart-container {
    background-color: white; 
    border-radius: 15px; 
    padding: 20px;
}
